
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  .right-panel .add-new-player-panel{
    width: 100vw;
    padding: 50px 0 50px 50px;
  }
  .right-panel .name{
          display: block;
        }
        .right-panel .avatar{
          display: block;
        }
        .right-panel .button-back {
          width: 100px;
          margin-top: 50px;
          margin-right: 10px;
        }
        .right-panel .button-add {
          width: 100px;
          margin-top: 50px;
          margin-right: 10px;
        }
  
  
  .player-list-content{
    font-family: "Roboto", sans-serif;
    .player-list{
      h1{
        text-transform: uppercase;
        padding: 25px;
        letter-spacing: 1px;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 30px;
      }
    }
    .grid{
    padding-left: 0;
    width: inherit;
    margin: 0;
    }
    .players{
      .list{
        width: 80%;
        margin: 0 auto;
        .list-item{
          .avatar{
            margin-left: 10px;
            width: 55px;
            height: 55px;
          }
          .edit-icon{
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
          }
          .player-name{
            span{
              font-size: 20px;
            }
          }
          .delete-icon{
            margin-left: 5px;
            width: 40px;
            height: 40px;
          }
        }
    }
    }
    // .player-list{
    //   min-width: 100%;
    // }
    .add-player-button, .remove-player-button{
      width: 150px;
      height: 40px;
      margin: 20px auto;
      display: block;
      span{
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    .add-player-button{
      margin-top: 30px;
    }
  }

  @media (orientation: landscape) {
    .right-panel .add-new-player-panel{
      width: 50vw;
    }
    .player-list-content{
      .players{
        .list{
          .list-item{
            padding-left: 50px;
            padding-right: 50px;
            .delete-icon{
              margin-left: 20px;
            }
          }
        }
      }
    .add-player-button, .remove-player-button{
      margin: 50px 30px 50px 30px;
      display: inline-block;
      span{
        font-size: 17px;
      }
    }
  }
  }
  @media (orientation: landscape) and (min-width: 812px) {
    .player-list-content{
      .player-list{
      width: 60%;
      margin: 0 auto;
      background-color: #fff;
        h1{
          padding-top: 30px
        }
      }
      .grid{
        width: 80%;
        margin: 0 auto;
      }
    }

  }

  @media (orientation: portrait) and (min-width: 768px){
    .right-panel .add-new-player-panel{
      width: 50vw;
    }
    .player-list-content{
      .player-list{
      width: 80%;
      margin: 0 auto;
      background-color: #fff;
        h1{
          padding-top: 30px;
          font-size: 35px;
        }
      }
      .players{
        .list{
          .list-item{
            .avatar{
              width: 80px;
              height: 80px;
            }
            .player-name{
              span{
                font-size: 30px;
              }
            }
          }
        }
      }
      .add-player-button, .remove-player-button{
        width: 250px;
        height: 70px;
        margin: 70px auto;
        display: inline-block;
        span{
          font-size: 25px;
        }
      }
      .add-player-button{
        margin-right: 20px;
      }
    }
  }

  @media (min-width: 1024px){
    .right-panel .add-new-player-panel{
      width: 35vw;
    }
    .pages{
      background-image: url(../../img/bcg.jpg);
      background-repeat: no-repeat;
    }
    .player-list-content{
      padding-bottom: 50px;
      padding-top: 50px;
      .player-list{
        min-width: 70%;
        h1{
          margin-top: 0;
          padding-top: 40px;
          font-size: 30px;
        }
      }
      .add-player-button{
        margin-left: 0;
      }
      .remove-player-button, .add-player-button {
        margin-bottom: 20px;
      }
      .players{
        .list{
          width: 50vw;
          .list-item{
            .avatar{
              width: 90px;
               height: 90px;
            }
            .player-name{
                 span{
                  font-size: 25px;
                }
              }
          }
        }
      }
    }
  }
  


@media (min-width: 1200px){
  .player-list-content{
    .player-list{
      min-width: 60%;
      h1{
        font-size: 26px;
      }
    }
    .add-player-button, .remove-player-button{
      margin: 50px auto;
    }
    .remove-player-button{
      margin-left: 30px;
    }
    .players{
      .list{
        width: 45vw;
        .list-item{
          .player-name{
            .edit-icon{
              width: 40px;
              height: 40px;
            }
               span{
                font-size: 18px;
              }
            }
        }
      }
  }
}
}
  
@media(min-width: 1400px){
  .player-list-content{
    .add-player-button, .remove-player-button{
      margin: 50px auto;
    }
    .remove-player-button{
      margin-left: 50px;
    }
    .players{
      .list{
        width: 45vw;
        margin: 0 auto;
        .list-item{
            .edit-icon{
              width: 50px;
              height: 50px;
            }
            .delete-icon{
              width: 50px;
              height: 50px;
            }
               span{
                font-size: 22px;
              }
        }
      }
  }
  }
}
@media (min-width: 1600px){
  .player-list-content{
    .player-list{
      h1{
        font-size: 30px;
      }
    }
    .grid{
      padding-left: 10vw;
      width: 100%;
    }
    .add-player-button, .remove-player-button{
      margin: 50px auto;
    }
    .add-player-button{
      margin-left: 50px;
      margin-right: 50px;
    }
    .players{
      .list{
        width: 40vw;
        margin: 0 auto;
        .list-item{
          .player-name{
            .edit-icon{
              width: 50px;
              height: 50px;
            }
               span{
                font-size: 20px;
              }
            }
        }
      }
    
  }
}
}
@media (min-width: 1920px){
.right-panel .add-new-player-panel{
  width: 25vw;
}
.player-list-content {
  .player-list{
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 50px;
    h1 {
    font-size: 35px;
  }
  }
  .grid{
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .players{
    .list{
      width: 700px;
      .list-item{
        .avatar{
          width: 100px;
          height: 100px;
        }
        .delete-icon, .edit-icon{
          margin-left: 20px;
          width: 60px;
          height: 60px;
        }
      }
  }
  }
  .add-player-button, .remove-player-button{
    margin-top: 50px;
    margin-right: 30px;
    height: 50px;
    width: 200px;
    span{
      font-size: 20px;
    }
  }
  .add-player-button{
    margin-left: 5vw;
  }
}
}