* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.matches-list{
  min-height: 100vh;
  width: 90vw;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 22px;
      padding: 25px;
      padding-bottom: 35px;
      color: rgba(0, 0, 0, 0.7);
  }
  .table{
    .table-body{
      .table-row{
        .table-cell{
          text-align: center;
          font-size: 16px;
        }
        .table-cell span{
          display: flex;
          width: 30px;
        }
      }
    }
  }
  
}

@media(orientation: landscape){
  .matches-list{
    width: 90%;
    margin: 0 auto;
    h1 {
      font-size: 20px;
      padding: 10px;
      padding-bottom: 20px;
    }
    .table{
      width: 90vw;
      .table-body{
        .table-row{
          .table-cell{
            font-size: 14px;
            text-align: center;
        }
      }
    }
  }
}
}

@media(max-width: 1023px){
  .rwd-table {
   overflow-x:scroll;
    }
  }

@media(min-width: 1024px){
.matches-list{
  width: 100%;
  padding-top: 50px;
  h1 {
    font-size: 30px;
    padding: 25px;
    padding-bottom: 35px;
    padding-top: 40px;
  }
  .wrap-table{
    width: 70vw;
    min-height: 50vh;
    background: white;
    margin: 0 auto;
  .table{
    width: 70vw;
    margin: 0 auto;
    .table-body{
      .table-row{
        .table-cell{
            font-size: 17px;
            text-align: center;
        }
        .table-cell span{
          display: flex;
          width: 50px;
        }
      }
    }
    }
  }
}
}

@media (min-width: 1200px){
  .matches-list{
    h1 {
      font-size: 26px;
    }
    .wrap-table{
      .table{
      width: 60vw;
      }
    }
  }
}

@media (min-width: 1920px){
  .matches-list{
    h1{
      font-size: 35px;
    }
    .wrap-table{
      width: 70vw;
    .table{
      width: 50vw;
      .table-body{
        .table-row{
          .table-cell{
            font-size: 20px;
          }
        }
      }
    }
  }
  }
}