* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.nav-bar {
  flex-grow: 1;
  width: 100%;
  height: 15vh;
  .app-bar {
    height: inherit;
  }
  .ball {
    float: right;
    width: 40px;
    padding-left: 20px;
    padding-top: 30px;

    box-sizing: content-box;
  }
  .name {
    float: left;
    flex-grow: 1;
    line-height: 350%;
    font-size: 30px;
    padding-left: 20px;
  }
  .icon-button {
    margin-left: -12;
    margin-right: 20;
    .icon {
      font-size: 32px;
    }
  }
  .divider {
    height: 0;
  }
  .menu-close-item {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    justify-content: flex-end;

    .left-icon {
      justify-content: flex-end;
      .icon {
        font-size: 40px;
      }
    }

    .left-icon:hover {
      background-color: #fff;
    }
  }
  .menu-item {
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  .menu-item span {
    font-size: 18px;
  }
  .menu-desktop {
    display: none;
  }
}

.drawer > * {
  width: 50vw;
}

@media (orientation: landscape) {
  .nav-bar{
    .menu-item{
      span{
        font-size: 16px;
      }
    }
  }
  .title-icon {
    margin: 0 auto;
  }
  .drawer > * {
  width: 30vw;
}

}

@media(min-width: 768px){
.nav-bar{
  height: 10vh;
  .title-icon {
  margin: 0 auto;
  }
  .name{
    font-size: 37px;
  }
  .ball{
    padding-top: 30px;
  }
  .icon-button .icon{
    font-size: 45px;
  }
}
}
@media(min-width: 1024px){
  .nav-bar{
    .menu-item span {
      font-size: 25px;
    }
  }
  .drawer > * {
    width: 30vw;
  }
  
}
@media (min-width: 1200px) {
  .nav-bar {
    height: 10vh;
    .icon-button {
      display: none;
    }
    .drawer {
      display: none;
    }
    .title-icon{
      margin-left: 20px;
    margin-right: 40px;
    }
    .app-bar{
      .name{
        font-size: 45px;
      }
      .ball {
        float: left;
        width: 50px;
        padding-top: 50px;
      }
    }
    .menu-desktop {
      display: block;
      margin-left: 40px;
      width: 65%;
      .menu {
        text-align: right;
        .tab-item:nth-of-type(1) {
          min-width: 100px;
        }
        li {
          display: inline-block;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          padding-bottom: 10px;
        }
        li:nth-of-type(1) {
          width: 7vw;
        }
        li:nth-of-type(2) {
          width: 13vw;
        }
        li:nth-of-type(3) {
          width: 13vw;
        }
        a.active {
          color: white;
          border-bottom: 2px solid red;
        }
        .tab-item {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 1400px){
  .nav-bar {
    height: 10vh;
  .title-icon{
    margin: 0 auto;
  }
  .app-bar{
    .name{
      font-size: 50px;
      font-weight: bold;
    }
    .ball {
      width: 60px;
    }
  }  
  .menu-desktop {
    margin-left: 0px;
    .menu {
      li {
        width: 10vw;
      }
      li:nth-of-type(1) {
        width: 8vw;
      }
      li:nth-of-type(2) {
        width: 12vw;
      }
      li:nth-of-type(3) {
        width: 11vw;
      }
    }
  }
}

}
@media (min-width: 1920px) {
  .nav-bar {
    .title-icon{
      margin: 0;
    }
    .app-bar {
      padding-left: 70px;
      .name {
        font-size: 60px;
        padding-left: 30px;
      }
      .ball {
        width: 70px;
        padding-top: 70px;
      }
    }
    .menu-desktop {
      width: 70%;
      text-align: right;
      padding-right: 50px;
      .menu {
        li {
          display: inline-block;
          width: 9vw;
          // padding-left: 20px;
          font-size: 15px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        li a {
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          // padding: 20px;
        }
        li:nth-of-type(1) {
          width: 7vw;
        }
        li:nth-of-type(2) {
          width: 10vw;
        }
        li:nth-of-type(3) {
          width: 10vw;
        }
        .tab-item {
        font-size: 20px;
      }
      }
  
    }
  }
}
