* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.main-site{
  font-family: "Roboto", sans-serif;
  width: 95vw;
  margin: 0 auto;
  padding-top: 50px;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
  }
  .table{
    width: 100%;
      margin: 20px auto;
  }
}

@media (orientation: landscape){
  .main-site{
    height: 100vh;
    h1{
      padding: 10px;
      font-size: 20px;
    }
    .table{
      margin-top: 0;
      .table-head{
        .table-row{
          .table-cell{
            font-size: 12px;
            text-align: center;
        }
      }
    }
    .table-body{
      .table-row{
        .table-cell{
          text-align: center;
          font-size: 14px;

        }
      }
    }
    }
    }
  }
@media(max-width: 1023px){
.rwd-table {
 overflow-x:scroll;
  }
}

@media (min-width: 1024px) {
  .main-site{
    height: 100vh;
    width: 100vw;
    h1{
      padding: 20px;
      font-size: 30px;
      padding-top: 40px;
    }
    .table-wrap{
      width: 80vw;
      background: white;
      min-height: 70vh;
      margin: 20px auto;
    }
    .table{
      width: 80vw;
      .table-head{
        .table-row{
          .table-cell{
            font-size: 15px;
            text-align: center;
        }
      }
    }
    .table-body{
      .table-row{
        .table-cell{
          text-align: center;
          font-size: 16px;

        }
      }
    }
    }
  }
}

@media (min-width: 1200px) {
  .main-site{
    .table{
      width: 70vw;
      .table-head{
        .table-row{
          .table-cell{
            // text-align: center;
            font-size: 16px;
        }
      }
    }
    .table-body{
      .table-row{
        .table-cell{
          font-size: 18px;
        }
      }
    }
  }
}
}

@media (min-width: 1920px) {
  .main-site{
    h1{
      font-size: 35px;
    }
    .table-wrap{
      width: 70vw;
    }
    .table{
      width: 60vw;
      .table-head{
        .table-row{
          .table-cell{
            text-align: center;
            font-size: 18px;
        }
      }
      .body{
        .table-row{
          .table-cell{
            font-size: 18px;
          }
        }
      }
    }
  }
}
}
