* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.statistics{
  min-height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 22px;
      padding: 25px;
      padding-bottom: 35px;
      color: rgba(0, 0, 0, 0.7);
  }
  
}

@media(min-width: 1024px){
  .pages{
    background-image: url(../../img/bcg.jpg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  
  }
  .statistics{
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100vh;
    .wrap{
      width: 80%;
      min-height: 450px;
      margin: 0 auto;
      background-color: white;
  }
    h1 {
      margin-bottom: 40px;
      font-size: 30px;
      padding-top: 40px;
    }
  }
}