* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.match-result{
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    padding: 25px;
    color: rgba(0, 0, 0, 0.7);
  }
  .players-name{
   text-align: center;
    .name{
      display: inline-block;
      width: 50%;
    }
  }
  .input-score{
    width: 50px;
  }
  .form-control{
    // margin-top: 50px;
    // float: left;
  }
  .colon {
    display: inline-block;
    // width: 30px;
    width: 130px;
    line-height: 80px;
  }
  .btn-add-match{
    display: block;
    margin: 20px auto;
  }
   
}
@media(min-width: 1024px){
  .pages{
    background-image: url(../../img/bcg.jpg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  
  }
  .match-result{
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    .wrap{
      width: 80%;
      min-height: 450px;
      margin: 0 auto;
      background-color: white;
  }
    h1 {
      font-size: 30px;
      margin-bottom: 40px;
    }
   .players-name {
    .name {
      font-size: 25px;
      width: 40%;
    }
    }
    .input-score{
      width: 60px;
    }
    .form-control{
      .input-label{
        font-size: 20px;
      }
    }
    .colon {
      font-size: 30px;
      width: 20vh;
      line-height: 90px;
    }
    .btn-add-match{
      width: 200px;
      height: 50px;
      span{
        font-size: 18px;
        letter-spacing: 2px;
      }
    }
  }
}

@media(min-width: 1920px){
 .match-result{
   .wrap{
      width: 60%;
   }
   .players-name{
     .name{
       font-size: 30px;
     }
   }
   .input-score{
    width: 80px;
  }
  .form-control{
    .input-label{
      font-size: 26px;
    }
  }
 }
}