* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.disabled{
  border: 2px solid red;
}
//section 1//
.new-match {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding-top: 50px;
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
  }
.number-of-players {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
  span {
    font-size: 18px;
  }
}
}
//section 2//
.buttons {
  .button {
    width: 45vw;
    display: block;
    margin: 30px auto;

    span {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 200%;
    }
  }
}

@media (orientation: landscape) {
    .desktop-view {
    .number-of-players {
      float: left;
      width: 40%;
      span {
       font-size: 18px;
      }
    }
    .buttons {
      float: left;
      margin-top: 30px;
      width: 50%;
      .button {
        width: 25vw;
        margin: 10px;
        span{
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1024px){
  .new-match{
    .wrap{
      width: 65%;
      min-height: 450px;
      margin: 0 auto;
      background-color: white;
  }
    h1{
      padding-top: 40px;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .number-of-players{
      span{
        font-size: 20px;
      }
    }
  }
  .buttons {
    width: 50%;
    margin: 20px auto;
    .button {
      width: 20vh;
      span{
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .new-match {
    .wrap{
      background-color: #fff;
      min-width: 60%;
      max-width: 80%;
      margin: 0 auto;
    }
    h1 {
      font-size: 26px;
      margin-bottom: 5vh;
    }
    .desktop-view {
      max-width: 1200px;
      margin: 40px auto;
      .number-of-players {
        float: left;
        width: 50%;
        span {
          font-size: 25px;
        }
      }
      .buttons {
        float: left;
        width: 50%;
        .button {
          width: 20vw;
          display: block;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media(min-width: 1600px) {
  .new-match{
    h1{
      font-size: 30px;
    }
  }
}

@media (min-width: 1920px) {
  .pages{
    background-image: url(../../img/bcg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .new-match {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    h1{
      font-size: 35px;
    }
    .wrap{
      width: 65%;
      min-height: 70vh;
      margin: 0 auto;
      background-color: white;
  }
    .desktop-view {
      .buttons {
        .button {
          width: 15vw;
          span{
            font-size: 20px;
          }
        }
      }
    }
  }
}

//section 3//
.one-to-one {
  width: 80vw;
  margin: 0 auto;
.player-select{
  .select-form {
    display: block;
    width: 50vw;
    margin: 0 auto;
    margin-top: 30px;
  }
  .player-selection {
    width: 90%;
    font-size: 15px;
    margin: 0 auto;
  }
  .text {
    padding-left: 10%;
    font-size: 12px;
  }
}
.button{
  width: 40vw;
  margin-top: 30px;
  margin-bottom: 30px;

  span {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 200%;
  }
}
}

@media (orientation: landscape) {
  .one-to-one {
    .select-form{
      width: 50vw;
      margin: 0;
    }
    .player-selection {
      width: 80%;
      font-size: 16px;
      margin: 0;
    }
    .text {
      padding-left: 10%;
      font-size: 12px;
    }
    .button{
      margin: 20px auto;
      width: 25vw;
        span{
          font-size: 12px;
          letter-spacing: 3px;
        }
    }
    width: 100vw;
    margin: 0 auto;
    .select-form {
      width: 45vw;
      margin-bottom: 20px;
      display: inline-block;

      .select-form:nth-of-type(2) {
        padding-left: 5%;
      }
    }
  }
}

@media(min-width: 1024px){
  .one-to-one {
    width: 60vw;
    margin: 0 auto;
    .player-select{
      .text{
        text-align: center;
      }
    .select-form{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      
    }
    .player-selection {
      width: 50%;
      font-size: 16px;
      margin: 0;
     

    }
  
  }
    .button{
      margin-top: 50px;
      width: 20vw;
      height: 40px;
      span{
        font-size: 18px;
        line-height: 150%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .one-to-one {
    max-width: 1200px;
    width: 100%;
    .select-form {
    width: 50%;
    display: inline-block;
    .player-selection {
      font-size: 25px;
    }
    } 
    .text{
      font-size: 20px;
    }
    .button{
      span{
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1400px){

}
@media (min-width: 1920px) {
  .one-to-one {
    width: 100%;
    margin: 0 auto;
    .select-form {
      width: 20vw;;
      margin-bottom: 20px;
      display: inline-block;
        
      .player-selection {
        font-size: 20px;
      }
      .text {
        text-align: center;
        font-size: 16px;
      }
    }
    .button{
      margin-top: 30px;
      width: 15vw;
      span{
        font-size: 20px;
      }
    }
  }
}
//
.two-to-two{
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  
    h2{
    color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    font-size: 17px;
   
    }
    .select-form {
      display: block;
      width: 50vw;
      margin: 10px auto 0;
    }
    .player-selection {
      width: 90%;
      font-size: 15px;
      margin: 0 auto;
    }
    .text {
      padding-left: 10%;
      font-size: 12px;
    }
    .button{
      width: 40vw;
      margin-top: 30px;
      margin-bottom: 30px;
      span {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 200%;
      }
    }
  
}

@media (orientation: landscape){
    .two-to-two{
        .team{
            float: left;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 50%;
        }
        .select-form {
            width: 90%;
          }
      .button{
        margin-top: 0;
        width: 30vw;
    }
    }
    
}
@media (min-width: 1024px){
  .two-to-two{
    width: 60vw;
  .button{
    width: 20vw;
    span{
      font-size: 18px;
    }
  }
}
}
@media(min-width: 1200px){
  .two-to-two{
    width: 60vw;
    
    h2{
    padding-bottom: 30px;
    font-size: 25px;
   
    }
    h2:nth-of-type(2){
    margin-top: 50px;
   }
    .select-form {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .player-selection {
      width: 50%;
      font-size: 20px;
      margin: 0 auto;
    }
    .text {
      padding-left: 10%;
      font-size: 14px;
      text-align: center;
    }
    .button{
      width: 20vw;
      margin-top: 30px;
      margin-bottom: 50px;
      span {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 150%;
      }
    }
  }
}
@media (min-width: 1920px){
    .two-to-two{
      width: 100%;
      margin: 0 auto;
        h2{
            font-size: 20px;
            letter-spacing: 1px;
            padding-bottom: 20px;
        }
        .select-form {
          width: 20vw;;
          .player-selection {
            font-size: 20px;
          }
          .text {
            text-align: center;
            font-size: 16px;
          }
        }
        .button{
          margin-top: 30px;
          width: 15vw;
          span{
            font-size: 20px;
          }
    }
}
}